div.container {
    width: 500px;
    height: 2000px;
    background-color: black;
}

div.box {
    width: 200px;
    height: 200px;
}

.box1 {
    background-color: coral;
}

.box2 {
    background-color: rgb(173, 236, 173);
    position: relative;
    left: 200px;
}

.box3 {
    background-color: rgb(158, 158, 241);
}